<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 <display-name>ICIN Bank</display-name>
 
	<servlet>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>SignupServlet</display-name>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.servlets.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/signup</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditProfileServlet</servlet-name>
		<servlet-class>com.servlets.EditProfileServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditProfileServlet</servlet-name>
		<url-pattern>/editProfile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RequestChequeBook</servlet-name>
		<servlet-class>com.servlets.RequestChequeBook</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestChequeBook</servlet-name>
		<url-pattern>/request</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EditUsersServlet</servlet-name>
		<servlet-class>com.servlets.EditUsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUsersServlet</servlet-name>
		<url-pattern>/editUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ConfirmRequest</servlet-name>
		<servlet-class>com.servlets.ConfirmRequest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConfirmRequest</servlet-name>
		<url-pattern>/ConfirmRequest</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>VerificationServlet</servlet-name>
		<servlet-class>com.servlets.VerificationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerificationServlet</servlet-name>
		<url-pattern>/verification</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DepositServlet</servlet-name>
		<servlet-class>com.servlets.DepositServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DepositServlet</servlet-name>
		<url-pattern>/deposit</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>WithdrawServlet</servlet-name>
		<servlet-class>com.servlets.WithdrawServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WithdrawServlet</servlet-name>
		<url-pattern>/withdraw</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PayeeServlet</servlet-name>
		<servlet-class>com.servlets.PayeeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PayeeServlet</servlet-name>
		<url-pattern>/managePayee</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Transfer</servlet-name>
		<servlet-class>com.servlets.Transfer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Transfer</servlet-name>
		<url-pattern>/transfer</url-pattern>
	</servlet-mapping>
</web-app>